# Ignore virtual environment
.venv/
env/

# Ignore compiled bytecode
__pycache__/
*.py[cod]

# Ignore environment variable files
.env

# Ignore node_modules
node_modules/

# Ignore Firebase configuration files
.firebase/
